.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  height: 40px !important;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
    /* Hide the top banner/frame */
  
    .VIpgJd-ZVi9od-ORHb{
    font-size:10px !important;
    }
}
